[defaults]
inventory = inventory/vagrant.ini
host_key_checking = False
stdout_callback = yaml
callback_enabled = timer
# python: https://docs.ansible.com/projects/ansible-core/devel/reference_appendices/interpreter_discovery.html
interpreter_python = auto_silent
# mute warnings
#deprecation_warnings = False
#system_warnings = False
#action_warnings = False