[defaults]
inventory = inventory
callback_whitelist = community.general.slack

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[callback_slack]
webhook_url = https://hooks.slack.com/services/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
channel = #ansible
username = ansible
validate_certs = false